<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="site/email.css" />
        <link rel="stylesheet" href="site/styles.css" />
        <%- include("./partials/head.html") %>
    </head>

    <body>
        <div class="page">
            <h1 class="main-title">
                <div class="y">Cont</div>
                <div class="p">Act</div>
            </h1>

            <%- include("./partials/email.html") %> <%- include("./partials/nav.html") %>
        </div>
    </body>
</html>
