<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="site/styles.css" />
        <%- include("../partials/head.html") %>
    </head>

    <body>
        <div class="page">
            <h1 class="main-title">
                <div class="y">LaJ</div>
                <div class="p">Bel</div>
            </h1>

            <div class="lajvatar">
                <img src="assets/lajvatar.png" />
            </div>

            <p class="bio">
                I am a web games developer and player. I have created some projects on my own, for almost a year I have been involved in the development of
                games, I was always a big fan. I'm from Argentina, I'm 15, I like sandwiches and my name means "The Love and Juice Below"
            </p>

            <%- include("../partials/nav.html") %>

            <div class="lajlist">
                <h2>Social Media</h2>
                <ul>
                    <li><a href="https://twitter.com/lajbelms">twitter</a></li>
                    <li><a href="https://github.com/lajbel">github</a></li>
                    <li><a href="https://lajbel.newgrounds.com">newgrounds</a></li>
                    <li><a href="https://lajbel.itch.io">itch.io</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
