@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
    --page-color: #AEECEF;
    --border-color: #80DED9;
    --background-color: #AEECEF;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Short Stack, italic;
    background: var(--background-color);
    display: flex;
    justify-content: center;
}

/* Page */

.page {
    background-color: var(--page-color);
    border: 7px solid var(--border-color);
    border-radius: 40px;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    animation-name: bound;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}

/* Main Title */

.main-title {
    display: inline-flex;
    justify-content: center;
    position: relative;
    user-select: none;
}

.main-title .y {
    color: #F3FF58;
    font-size: 3em;
}

.main-title:hover .y {
    transform: rotate(-7deg);
    transition: 0.6s;
}

.main-title .p {
    color: #EF56FE;
    font-size: 3em;
}

.main-title:hover .p {
    transform: rotate(10deg) translate(0px, 20px);
    transition: 0.6s;
}

/* LaJVatar */

.lajvatar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lajvatar img {
    border-radius: 50%;
    outline: 5px solid var(--border-color);
    width: 100%;
    max-width: 260px;
}

/* Bio */

.bio {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

/* Lajlist */

.lajlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.lajlist h2 {
    font-size: 2em;
    color: rgb(252, 151, 0);
}

.lajlist ul {
    list-style: none;
}

.lajlist li a {
    font-size: 1.2em;
    color: #cf28df;
    text-decoration: none;
}

.lajlist li a:hover {
    color: #EF56FE;
    text-decoration: underline;
}

.lajlist li.pageli a:after {
    content: '>>>';
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    width: 220px;
    height: 280px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
}

.project h2 {
    font-size: 1.5em;
}

.project a {
    color: #f9a33b;
    text-decoration: none;
}

.project a:hover {
    color: #EF56FE;
}

.project img {
    width: 100%;
    height: 60%;
    outline: 5px solid var(--border-color);
}

/* KeyFrames */

@keyframes bound {
    0% {
        transform: rotate(-0.5deg);
        transition: 0.1s;
    }

    100% {
        transform: rotate(0.5deg);
        transition: 0.1s;
    }
}
