@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

/*----------------------
  variables and other
----------------------*/

:root {
    --page-color: #94f0ff;
    --border-color: #2cc7df;
    --background-color: #aeecef;
    --link-color: #7c76ff;
    --link-color-hv: #ef56fe;
    --list-title-color: #f59e42;
    --font: Short Stack, italic;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font);
    background: var(--background-color);
    display: flex;
    justify-content: center;
}

/*----------------------
    page
----------------------*/

.page {
    background-color: var(--page-color);
    border: 7px solid var(--border-color);
    border-radius: 40px;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    animation-name: bound;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}

/*----------------------
    main title
----------------------*/

.main-title {
    display: inline-flex;
    justify-content: center;
    position: relative;
    user-select: none;
}

.main-title .y {
    color: #fffc98;
    font-size: 3em;
}

.main-title:hover .y {
    transform: rotate(-7deg);
    transition: 0.6s;
}

.main-title .p {
    color: #ff98f5;
    font-size: 3em;
}

.main-title:hover .p {
    transform: rotate(10deg) translate(0px, 20px);
    transition: 0.6s;
}

/*----------------------
    avatar
----------------------*/

.lajvatar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lajvatar img {
    border-radius: 50%;
    outline: 5px solid var(--border-color);
    width: 100%;
    max-width: 260px;
}

/*----------------------
    bio
----------------------*/

.bio {
    text-align: center;
    margin: 20px 0px 0px 0px;
	padding: 0px 80px;
}

/*----------------------
    lists
----------------------*/

.lajlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.lajlist h2 {
    font-size: 2em;
    color: var(--list-title-color);
}

.lajlist ul {
    list-style: none;
}

.lajlist li a {
    font-size: 1.2em;
    color: var(--link-color);
    text-decoration: none;
}

.lajlist li a:hover {
    color: var(--link-color-hv);
    text-decoration: underline;
}

.lajlist li.pageli a:after {
    content: '>>>';
}

/*----------------------
    projects
----------------------*/

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    width: 220px;
    height: 280px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
}

.project h2 {
    font-size: 1.5em;
}

.project a {
    color: #f9a33b;
    text-decoration: none;
}

.project a:hover {
    color: #ef56fe;
}

.project img {
    width: 100%;
    height: 60%;
    outline: 5px solid var(--border-color);
}

/*──────────────────
    email form
──────────────────*/

/*----------------------
    animations
----------------------*/

@keyframes bound {
    0% {
        transform: rotate(-0.5deg);
        transition: 0.1s;
    }

    100% {
        transform: rotate(0.5deg);
        transition: 0.1s;
    }
}

/*----------------------
    media queries
----------------------*/

@media only screen and (max-width: 500px) {
    .page {
        width: 100%;
    }

    .main-title .y,
    .main-title .p {
        font-size: 4rem;
    }
}
