@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Short Stack, italic;
	background-color: rgb(51, 222, 248);
    display: flex;
    justify-content: center;
}

/* Page */

.page {
    background-color: #6AEBFF;
    border: 7px solid #2CC7DF;
    border-radius: 40px;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%
}

/* Main Title */

.main-title {
    display: inline-flex;
    justify-content: center;
    position: relative;
    user-select: none;
}

.main-title .y {
    color: #F3FF58;
    font-size: 3em;
}

.main-title:hover .y {
    transform: rotate(-7deg);
    transition: .6s;
}

.main-title .p {
    color: #EF56FE;
    font-size: 3em;
}

.main-title:hover .p {
    transform: rotate(10deg) translate(0px, 20px);
    transition: .6s;
}

/* LaJVatar */

.lajvatar {
    display: flex;
    justify-content: center;
    width: 100%;   
}

.lajvatar img {
    border-radius: 50%;
    outline: 5px solid #2CC7DF;
    width: 100%;
    max-width: 260px;
}

/* Bio */

.bio {
    text-align: center;
    margin: 20px 0px 0px 0px
}

/* Lajlist */

.lajlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 0px 0px
}

.lajlist h2 {
    font-size: 2em;
    color: rgb(252, 151, 0)
}

.lajlist ul {
    list-style: none;
}

.lajlist li a {
    font-size: 1.2em;
    color: rgb(208, 255, 0);
    text-decoration: none;
}

.lajlist li a:hover {
    color: #EF56FE;
    text-decoration: underline;
}

.lajlist li.pageli a:after {
    content: ">>>"
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    width: 220px;
    height: 280px;
    text-align: center;
	margin: 10px 10px 10px 10px;
	border-radius: 12px;
}

.project h2 {
    font-size: 1.5em;
}

.project a {
    color: #f9a33b;
    text-decoration: none;
}

.project a:hover {
    color: #EF56FE;
}

.project img {
    width: 100%;
	height: 60%;
    outline: 5px solid #2CC7DF;
}