.avatar {
	display: block;
	text-align: center;

	img {
		border: 5px solid var(--border-color);
		border-radius: 50%;
		width: 100%;
		max-width: 260px;
		cursor: pointer;
	}

	#easteregg {
		display: none;
		margin-top: 2px;

		a {
			text-decoration: none;
		}

		span.big {
			font-size: 2rem;
		}
	}

	#easteregg.show {
		display: block;
	}
}
