$page-color: #78d1f7;

.page {
	background-color: $page-color;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

@media only screen and (min-width: 992px) {
	.page {
		margin: 40px;
	}
}
