form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    width: 50%;

    label {
        font-family: var(--main-font-family);
    }

    input {
        font-family: var(--main-font-family);
    }
}

form textarea {
    font-family: var(--main-font-family);
    padding: 10px;
    border: none;
    resize: none;
}

form textarea:focus {
    outline: none;
    border: none;
}

form input[type='text'],
input[type='email'] {
    text-align: center;
    border: none;
    background: none;
    border-bottom: 2px solid var(--border-color);
}

form input[type='text']:focus,
input[type='email']:focus {
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--border-color);
}

form button {
    font-family: var(--font);
    margin-top: 15px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
}

form button:hover {
    cursor: pointer;
    color: var(--link-color-hv);
}
