<form action="https://formsubmit.co/lajbelms@gmail.com" method="POST">
    <input class="form-control" type="hidden" name="_subject" value="New Mail from LaJSite!" />
    <input class="form-control" type="hidden" name="_next" value="https://lajbel.repl.co" />
    <input class="form-control" type="hidden" name="_captcha" value="false" />

    <label for="email">Your Email: </label>
    <input type="email" name="email" class="form-control" required />

    <label class="msg" for="message">Your message: </label>

    <br />

    <textarea class="msg" type="text" name="message" rows="5" required></textarea>

    <button type="sumbit">Send>></button>
</form>
