<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/email.scss" />
		<link rel="stylesheet" href="/styles/main.scss" />
		<%- include("./partials/head") %>
	</head>

	<body>
		<div class="page">
			<h1 class="main-title">
				<div class="y">Cont</div>
				<div class="p">Act</div>
			</h1>

			<%- include("./partials/email") %> <%- include("./partials/nav") %>
		</div>
	</body>
</html>
