<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/styles.scss" />
		<%- include("./partials/head") %>
	</head>

	<body>
		<div class="page">
			<h1 class="main-title">
				<div class="y">LaJ</div>
				<div class="p">Bel</div>
			</h1>

			<div class="lajvatar">
				<img src="assets/lajvatar.png" />
			</div>

			<p class="bio">
				Hi!!! I am LaJBel/Dani, a 15yo web developer, I like make games, webs and bots! learn new things and tecnologies.<br />I Love the Coffee, Javascript and TLOZ ☕
			</p>

			<%- include("./partials/social") %>

			<%- include("./partials/nav") %>
		</div>
	</body>
</html>
