<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/main.scss" />
		<%- include("./partials/head") %>
	</head>

	<body>
		<div class="page">
			<h1 class="main-title">
				<div class="y">LaJ</div>
				<div class="p">Bel</div>
			</h1>

			<div class="lajvatar avatar">
				<img src="assets/lajvatar.png" onclick="photoEgg();" />
				<p id="easteregg"></p>
			</div>

			<p class="bio">
				Hi!!! I am LaJBel/Dani, a 15yo web developer, mainly in front-end. I like make games,
				webs and bots! learn new things and tecnologies.
				<br />
				I Love Js/Ts and the coffee 💻☕
			</p>

			<%- include("./partials/social") %>
			<%- include("./partials/nav") %>

			<script src="scripts/photoegg.js"></script>
		</div>
	</body>
</html>
