<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/main.scss" />
		<%- include("./partials/head") %>
	</head>

	<body>
		<div class="page">
			<h1 class="main-title">
				<div class="y">Port</div>
				<div class="p">Folio</div>
			</h1>

			<div class="projects">
				<% projects.forEach((prj) => { %>
					<%- include("./partials/project", { name: prj.name, desc: prj.desc, img: prj.img, link: prj.link }); %>
				<%  }); %>

				<div class="project">
					<img src="assets/eggs.png" />
					<h2><a href="https://lajbel.itch.io/purple-egg" target="_blank">Purple Egg 100</a></h2>
					<p>Find the purple egg</p>
				</div>

				<div class="project">
					<img src="assets/newgroundsjs.png" />
					<h2><a href="https://npmjs.com/newgrounds-boom" target="_blank">Newgrounds.JS</a></h2>
					<p>Library for use Newgrounds.io</p>
				</div>

				<div class="project">
					<img src="assets/gswim.png" />
					<h2><a href="https://glitch.com/~gswim" target="_blank">Glitchy Swim</a></h2>
					<p>Swim Swim in a Glitch sea</p>
				</div>
			</div>

			<%- include("./partials/nav") %>
		</div>
	</body>
</html>
