@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
	--decor-color: #f9a33b;
    --font-color: #000000;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: Short Stack, italic;
	background-color: rgb(70, 221, 245);
    display: flex;
	justify-content: center;
}

.container-all {
	background-color:#6AEBFF;
	width: 70%;
    border-radius: 60px;
    margin: 30px;
    padding: 5px;
    border: 7px solid #2CC7DF;
    text-align: center;
    animation-name: bound;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: .8s;
}

.tlaj {
    color: #F3FF58;
}

.tbel {
    color: #EF56FE;
}

.main-title {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 2.5em;
	color: var(--decor-color);
	margin: 5px;
    user-select: none;
}

.main-title:hover .tlaj {
    transform: rotate(-7deg);
    transition: .6s;
}

.main-title:hover .tbel {
    transform: rotate(10deg) translate(0px, 20px);
    transition: .6s;
}

.main-text {
    user-select: none;
    padding: 20px;
}


/* List of projects */


.projects-div {
    justify-content: space-around;
}

/* Animations */

@keyframes bound {
    0% {
        transform: rotate(-0.5deg);
        transition: .1s;
    }

    100% {
        transform: rotate(0.5deg);
        transition: .1s;        
    }
}