<title>LaJBel's <%- title %></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="¡LaJBel is a web front end, bots and games developer!" />
<meta name="theme-color" content="#87fff9" />
<meta property="og:title" content="LaJBel" />
<meta property="og:description" content="i make games" />
<meta property="og:site_name" content="LaJSite" />
<link rel="stylesheet" href="styles/awesome.css" />
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
<link rel="shortcut icon" href="assets/favicon.ico" />
