<div class="social">
	<ul>
		<li class="outline"><a href="https://twitter.com/lajbelms">
			<span class="twitter"><i class="fa-brands fa-twitter"></i><span>
		</a></li>

		<li class="outline"><a href="https://github.com/lajbel">
			<span class="github"><i class="fa-brands fa-github-alt"></i><span>
		</a></li>
		
		<li class="outline"><a href="https://peerlist.io/lajbel">
			<span class="p"><i class="fa-brands fa-p"></i><span>
		</a></li>

		<li class="outline"><a href="https://lajbel.itch.io">
			<span class="itchio"><i class="fa-brands fa-itch-io"></i><span>
		</a></li>
	</ul>
</div>