<div class="lajlist">
	<h2>The LaJSite</h2>
	<ul>
		<li class="pageli"><a href="/">home</a></li>
		<li class="pageli"><a href="/portfolio">portfolio</a></li>
		<li class="pageli"><a href="/contact">contact</a></li>
		<li><a href="https://ko-fi.com/L3L26XTGV">buy me a coffee ☕</a></li>
		<li><a href="https://replit.com/@lajbel/lajbel">fork on repl.it ⠕</a></li>
	</ul>
</div>
